<section class="user">
  <h1><%= @user.name %></h1>
  <% if current_user_admin? %>
    <h2><strong>Admin</strong></h2>
  <% end %>  
  <h2>Username: <%= @user.username %></h2>
  <h2>Email Address: <%= mail_to(@user.email) %></h2>

  <p>Member since <%= @user.created_at.strftime("%B %Y") %></p>
  <% if current_user?(@user) %>
    <div class="actions">
      <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
      <%= link_to 'Delete Account', @user, class: "button delete",
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
  <% if @reviews.present? %>
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="review">
        <div class = "image">
          <%= link_to image_tag(review.movie.image_file_name), review.movie %>
        </div>
        <div class="details">
          <span class="title">
            <%= link_to review.movie.title, review.movie %>
          </span>
          <%= render "shared/stars", percent: review.stars_as_percent %>
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
          <p>
            <%= review.comment %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>